name: SteamWorks.ext Build

on:
  push:
    branches: [ master, windows98 ]
  pull_request:
    branches: [ master, windows98 ]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [ 3.11 ]
        os: [ windows-latest ]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Deps
      if: runner.os == 'Linux'
      run: |
        sudo dpkg --add-architecture i386
        sudo apt-get install bash lib32z1-dev libc6-dev-i386
        sudo apt-get install g++-multilib
    - uses: actions/checkout@v2
      name: Clone AMBuild
      with:
        repository: 'alliedmodders/ambuild'
        path: 'assets/ambuild'
    - name: install AMBuild
      run: pip install ./assets/ambuild
    - uses: actions/checkout@v2
      name: Clone SteamworksSDK
      with:
        repository: 'rlabrecque/SteamworksSDK'
        path: 'assets/SteamworksSDK'
    - uses: actions/checkout@v2
      name: Clone hl2sdk-sdk2013
      with:
        repository: 'alliedmodders/hl2sdk'
        ref: 'sdk2013'
        path: 'assets/hl2sdk-sdk2013'
    - uses: actions/checkout@v2
      name: Clone Metamod Source
      with:
        repository: 'alliedmodders/metamod-source'
        ref: '1.12-dev'
        path: 'assets/mmsource-central'
    - uses: actions/checkout@v3
      name: Clone Sourcemod
      with:
        repository: 'alliedmodders/sourcemod'
        submodules: recursive
        ref: '1.12-dev'
        path: 'assets/sourcemod-central'
    - name: Create redundant AMBuildScript
      run: cp AMBuildScript ../
    - name: Run build script
      run: |
        python ../configure.py -s sdk2013 --hl2sdk-root ../assets --sm-path ../assets/sourcemod-central --mms-path ../assets/mmsource-central --steamworks-path ../assets/SteamworksSD
        ambuild
    - uses: actions/upload-artifact@v4
      name: Upload build artifacts
      with:
        name: "steamworks-${{matrix.os}}-git"
        path: build/package/
        if-no-files-found: error
        retention-days: 90
